<% layout(`layouts/boilerplate`) %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <!-- title -->
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
      </div>

      <!-- location -->
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
      </div>

      <!-- price -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            id="price"
            type="number"
            class="form-control"
            placeholder="0.00"
            aria-label="Price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
        </div>
      </div>

      <!-- description -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          rows="3"
          required
        >
<%= campground.description %></textarea
        >
      </div>

      <!-- img upload -->
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload Images</label>
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
          accept="image/*"
        />
      </div>

      <!-- images -->
      <div class="mb-3 d-flex flex-wrap gap-3">
        <% campground.images.forEach(function (img, i) { %>
        <div class="text-center d-inline-block me-2">
          <img
            class="img-thumbnail"
            src="<%= img.thumbnail %>"
            style="height: 100px; object-fit: cover"
          />
          <div class="form-check form-check-inline mt-1">
            <input
              type="checkbox"
              id="image-<%= i %>"
              name="deleteImages[]"
              value="<%= img.filename %>"
            />
            <label for="image-<%= i %>">Delete?</label>
          </div>
        </div>
        <% }) %>
      </div>

      <!-- submit btn -->
      <button class="btn btn-info mb-3">Update Campground</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
  </div>
</div>
